body {
    overflow: hidden;
    margin: 0px;
}

.metacanvas {
    /* width: 100%; */
    left: 0;
    right: 0;

    position: relative;
}

.metacanvas canvas,
#hud {
    position: absolute;
}

#hud {
    /* actual width 100% */
    left: 0;
    right: 0;
    border-color: green;
    border-style: dashed;
    border-radius: 10px;
    border-width: 3px;

    p {
        color: pink;
        border-color: red;
        border-style: solid;
        border-radius: 15px;
        border-width: 5px;
        /* height: auto;
        width: auto; */
    }
}

canvas {
    border: 1px solid black;
}
